{% extends "base.html" %} 

{% load mezzanine_tags staticfiles %}
{% load mezzanine_tags %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}">
{% endblock extra_css %}

{% block main %}
{{ block.super }}

<head>
     {% block meta_title %}{% if page %}{{ page.meta_title }}{% endif %}{% endblock %}
</head>

<div class="gallery row">

<div class="col-xs-4 col-sm-3">
    <h4>
        <br>
        {% editable page.promo.title %}
        {% endeditable %}
    </h4><br>
    {% editable page.promo.promo_image %}
    <img src = "{{ MEDIA_URL }}{% thumbnail page.promo.promo_image 100 300 %}">
    {% endeditable %}
    <br>
    {% editable page.promo.promo_category %}
    <text><b>{{ page.promo.promo_category }}</b></text><br>
    {% endeditable %}
    <text>
        {% editable page.promo.content %}
        {% endeditable %}
    </text>
    {% blocktrans %}
        
    {% endblocktrans %}
</div>

</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% endblock %}
