{% extends "base.html" %}
{% load mezzanine_tags staticfiles %}
{% load mezzanine_tags %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block meta_title %}{% trans "Promos" %}{% endblock %}
{% block main %}
<div class="row" id="promo_search">
{% search_form "promo.Promo" %}
</div>
<div class="row" id="promo_list">
{% for promo in promos %}
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        {% editable promo.title %}
        <h3 class="panel-title">
          <a href="{% url 'page' promo.slug %}">
          {{ promo.title }}
          </a>
        </h3>
        {% endeditable %}
      </div>
      <div class="panel-body">
        {% editable promo.promo_image %}
        <img src = "{{ MEDIA_URL }}{{ promo.promo_image }}" class="img-responsive">
        {% endeditable %}
      </div>
      <div class="panel-footer">
        {% editable promo.content %}
        {% endeditable %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
